@tailwind base;
@tailwind components;
@tailwind utilities;

#themeSwitch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  height: 50px;
  width: 175px;
  background-color: white;
  border-radius: 5rem;
  transition: background-color 0.2s;
  cursor: pointer;
  outline: none;
}

#themeSwitch::after {
  position: absolute;
  content: "☀️";
  color: white;
  height: 45px;
  width: 45px;
  display: grid;
  place-items: center;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(47, 47, 68);
  transition: left 0.2s, color 0.2s, content 0.2s, background-color 0.2s;
  text-align: center;
  font-size: 30px;
}

#themeSwitch:checked {
  background: rgb(44, 43, 43);
}

#themeSwitch:checked::after {
  left: 80%;
  color: black;
  content: "🌙";
  background-color: rgb(89, 89, 128);
}
